*{
    margin:0;
    padding: 0;
}

.tz-g-100vwh {
    width: 100vw;
    height: 100vh;
}

.tz-g-100wh {
    width: 100%;
    height: 100%;
}

.tz-g-100w {
    width: 100%;
}

.tz-g-100h {
    height: 100%;
}
